<html>

<head>

    <title>Dbtify</title>
    <link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename = 'css/style.css')}}" rel="stylesheet">

</head>

<body>
    <div class="container">
        <div class="well text-center">
            {%for line in listener%}
            <h1>Page of {{line.1}}</h1>
            <h4>contact: {{line.2}}</h4>
        </div>
        {%with messages = get_flashed_messages()%}

        {%if messages%}

        {% for message in messages %}

        <div class="alert alert-success alert-dismissable" role="alert">

            <button type="button" class="close" data-dismiss="alert" aria-label="close">

                <span aria-hidden="true">&times;</span>

            </button>
            {{message}}
        </div>
        {%endfor%}
        {%endif%}
        {%endwith%}

        <div class="container">
            <h3>Liked Albums</h3>
            <table class="table table-striped">
                <tr>
                    <th>Id</th>
                    <th>Genre</th>
                    <th>Title</th>
                    <th>See Album</th>
                </tr>
                {% for row in album %}
                <tr>
                    <td>{{row.0}}</td>
                    <td>{{row.1}}</td>
                    <td>{{row.2}}</td>
                    <td>
                        <a href="/album/{{row.0}}" class="btn btn-info btn-xs">See Album</a>
                    </td>
                </tr>
                {%endfor%}
            </table>
        </div>

        <div class="container">
            <h3>Liked Songs</h3>
            <table class="table table-striped">
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Album Name</th>
                </tr>
                {% for row in song %}
                <tr>
                    <td>{{row.0}}</td>
                    <td>{{row.1}}</td>
                    <td>{{row.2}}</td>
                </tr>
                {%endfor%}
            </table>
        </div>
        {%endfor%}
    </div>
</body>

<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>

<script type="text/javascript" src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>

</html>